<p>{{this.firstName}}</p>
<p>{{this.lastName}}</p>
<p>{{this.fullName}}</p>
{{input type="text" value=this.firstName}}
{{input type="text" value=this.lastName}}
{{input type="text" value=this.fullName}}

{{log allTodos}}
{{log incomplete}}
{{outlet}}